// SASS variables

$color-primary: #ffbc2B;
$color-light: #f7f7f7;
$color-success: #68b960;
$ff-base: 'Gilroy', Arial, Helvetica, sans-serif;
$text-color: #2d2c2f;
$border-radius: 8px;
$border-radius-large: 12px;
